@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.base {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  background: transparent;
  border: 2px solid;
  width: 125px;
  height: 35px;
  margin: 12px 0px;
  margin-right: 10px;
  cursor: pointer;
}

.blue {
  color: #0075ff;
  border-color: #0075ff;
}

.green {
  color: #00ff38;
  border-color: #00ff38;
}

.white {
  color: #ffffff;
  border-color: #ffffff;
}
