@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.feature {
  margin: 35px 0px;
}

.feature-name {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
  color: #0075ff;
  font-weight: bold;
}

.bracket {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
  color: #00ff38;
  margin-right: 10px;
  padding-top: 15px;
}

.command {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
  color: #ffffff;
}

.commands {
  margin: 0px 40px;
}

.cursor {
  background-color: #ffffff;
}
