/* Modal START*/

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(61, 61, 61, 0.479);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 15px;
  /* position: relative;
  z-index: 100; */
}

/* Modal END */

/* Add File Form START */

.add-file-form {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.add-file-form > * {
  margin: 5px 0px;
  margin-right: 20px;
}
/* Add File Form END */

/* Login Form START */

.login-form {
  display: flex;
  flex-direction: column;
}

/* Login Form END */
