.dots {
  margin: 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(151, 151, 151);
  padding-left: 5px;
}

.dot {
  margin: 8px 4px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

#red {
  background-color: rgb(255, 0, 0);
}

#yellow {
  background-color: rgb(255, 238, 0);
}

#green {
  background-color: rgb(68, 170, 0);
}
