.dots {
  margin: 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #c4c4c4;
  padding-left: 5px;
}

.dot {
  margin: 8px 4px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: inline-block;
}

#red {
  background-color: #c80000;
}

#red:hover {
  box-shadow: 0px 1px 3px #1f1f1fbe;
}

#yellow {
  background-color: #f2cb00;
}

#green {
  background-color: #05eb00;
}
